 * {
  padding: 0;
  margin: 0;
 }

 html {
  box-sizing: border-box;
 }

 body {
  font-family: sans-serif;
 }

 .app {
  width: 400px;
  margin: 100px auto;
 }

 label {
  font-size: 14px;
  margin-right: 10px;
 }

 input {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 100px;
  border: 1px solid grey;
  margin-right: 10px;
 }

 button {
  padding: 10px ;
  border-radius: 100px;
  border: 1px solid grey;
  margin-right: 10px;
 }

 .add-form {
  padding: 10px;
   border-bottom:1px solid grey; ;
 }

 .shopping-list {
  padding: 10px;
  list-style: none;
 }

 .checked {
  text-decoration: line-through;
  color: gray;
 }